## Importing Libraries
* A library is code that another person or group of people made and they published so that anyone can use.
* ArcGIS Pro comes with a couple of libraries pre-installed in the Python environment, we can use them whenever.
* We will mostly be using "arcpy" and "pandas"
* After importing a library, we can refer to it by name, or give it a nickname

In [1]:
import arcpy
import pandas as pd  # now when we write "pd" we will be calling pandas, "pd" is used customarily

In [2]:
# Here, we are going to take a look to see what Pandas version is installed
# What this is doing is looking at the pandas library, and calling the function "show_versions" 
# Libraries provide references for functions, this can be found by googling, ex. https://pandas.pydata.org/docs/reference/api/pandas.show_versions.html#pandas.show_versions
pd.show_versions()

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : ca60aab7340d9989d9428e11a51467658190bb6b
python           : 3.9.16.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19044
machine          : AMD64
processor        : Intel64 Family 6 Model 183 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.4.4
numpy            : 1.20.1
pytz             : 2022.6
dateutil         : 2.8.2
setuptools       : 65.5.1
pip              : 22.2.2
Cython           : None
pytest           : 7.2.0
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.1
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 3.0.3
IPython          : 7.34.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
brotli           :
fastparquet      : None
fsspec           : 2022.7.1
gcsfs            : None
markupsafe       : 2.1.1
matplotlib       : 3.6.0
numba            : None
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : 1.0.1
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
snappy           : None
sqlalchemy       : 1.4.39
tables           : None
tabulate         : None
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : 1.3.0
zstandard        : None

In [16]:
# reading in a pandas dataframe
df = pd.read_csv(r'C:\Users\g6pmaaec\Documents\Coding\github\python-for-planning\day-4\ACSDT5Y2021.B19301-Data.csv')

# you can call the dataframe whatever you want, but if only working with one, the convention is to call it 'df'
# if you use a different name, anytime you see 'df' in the rest of the code, replace it with your name

In [17]:
# Now we can print the head and tail of the dataframe to see the first and last 5 rows
print('First 5 rows of the dataframe:')
print(df.head())

print('\nLast 5 rows of the dataframe:')
print(df.tail())

First 5 rows of the dataframe:
                 GEO_ID                                       NAME  \
0             Geography                       Geographic Area Name
1  1400000US01001020100  Census Tract 201, Autauga County, Alabama
2  1400000US01001020200  Census Tract 202, Autauga County, Alabama
3  1400000US01001020300  Census Tract 203, Autauga County, Alabama
4  1400000US01001020400  Census Tract 204, Autauga County, Alabama

                                         B19301_001E  \
0  Estimate!!Per capita income in the past 12 mon...
1                                              30934
2                                              26446
3                                              25683
4                                              47804

                                         B19301_001M  \
0  Margin of Error!!Per capita income in the past...
1                                               6503
2                                               4266
3                                               3511
4                                              19278

                                        B19301_001MA  \
0  Annotation of Margin of Error!!Per capita inco...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        B19301_001EA  Unnamed: 6
0  Annotation of Estimate!!Per capita income in t...         NaN
1                                                NaN         NaN
2                                                NaN         NaN
3                                                NaN         NaN
4                                                NaN         NaN

Last 5 rows of the dataframe:
                     GEO_ID  \
85391  1400000US72153750501
85392  1400000US72153750502
85393  1400000US72153750503
85394  1400000US72153750601
85395  1400000US72153750602

                                                    NAME B19301_001E  \
85391  Census Tract 7505.01, Yauco Municipio, Puerto ...       12345
85392  Census Tract 7505.02, Yauco Municipio, Puerto ...       10680
85393  Census Tract 7505.03, Yauco Municipio, Puerto ...       10123
85394  Census Tract 7506.01, Yauco Municipio, Puerto ...       11622
85395  Census Tract 7506.02, Yauco Municipio, Puerto ...        7952

      B19301_001M B19301_001MA B19301_001EA  Unnamed: 6
85391        3664          NaN          NaN         NaN
85392        1429          NaN          NaN         NaN
85393        2068          NaN          NaN         NaN
85394        2124          NaN          NaN         NaN
85395        2064          NaN          NaN         NaN

In [18]:
# This is a little bit hard to read, but will work to print to a terminal
# luckily, in jupyter notebooks, we can see the dataframe as an interactive element
df

,GEO_ID,NAME,B19301_001E,B19301_001M,B19301_001MA,B19301_001EA,Unnamed: 6
0,Geography,Geographic Area Name,Estimate!!Per capita income in the past 12 mon...,Margin of Error!!Per capita income in the past...,Annotation of Margin of Error!!Per capita inco...,Annotation of Estimate!!Per capita income in t...,NaN
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",30934,6503,NaN,NaN,NaN
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",26446,4266,NaN,NaN,NaN
3,1400000US01001020300,"Census Tract 203, Autauga County, Alabama",25683,3511,NaN,NaN,NaN
4,1400000US01001020400,"Census Tract 204, Autauga County, Alabama",47804,19278,NaN,NaN,NaN
...,...,...,...,...,...,...,...
85391,1400000US72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345,3664,NaN,NaN,NaN
85392,1400000US72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680,1429,NaN,NaN,NaN
85393,1400000US72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123,2068,NaN,NaN,NaN
85394,1400000US72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622,2124,NaN,NaN,NaN
85395,1400000US72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952,2064,NaN,NaN,NaN

In [19]:
# Now we see that the first row is actually a descriptor, and not actual data, we can drop this 
df = df.drop(df.index[0])
df

,GEO_ID,NAME,B19301_001E,B19301_001M,B19301_001MA,B19301_001EA,Unnamed: 6
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",30934,6503,NaN,NaN,NaN
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",26446,4266,NaN,NaN,NaN
3,1400000US01001020300,"Census Tract 203, Autauga County, Alabama",25683,3511,NaN,NaN,NaN
4,1400000US01001020400,"Census Tract 204, Autauga County, Alabama",47804,19278,NaN,NaN,NaN
5,1400000US01001020501,"Census Tract 205.01, Autauga County, Alabama",30313,4359,NaN,NaN,NaN
...,...,...,...,...,...,...,...
85391,1400000US72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345,3664,NaN,NaN,NaN
85392,1400000US72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680,1429,NaN,NaN,NaN
85393,1400000US72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123,2068,NaN,NaN,NaN
85394,1400000US72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622,2124,NaN,NaN,NaN
85395,1400000US72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952,2064,NaN,NaN,NaN

In [20]:
# However, we can see that we have an 'Unnamed' column, which can sometimes be an error from importing

unnamed_cols = [col for col in df.columns if col.startswith('Unnamed')]  # construct list of unnamed columns

# drop this in a similar way to dropping a row, but this time we will specify axis and to do it in place
df.drop(unnamed_cols, axis=1, inplace=True)
df

,GEO_ID,NAME,B19301_001E,B19301_001M,B19301_001MA,B19301_001EA
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",30934,6503,NaN,NaN
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",26446,4266,NaN,NaN
3,1400000US01001020300,"Census Tract 203, Autauga County, Alabama",25683,3511,NaN,NaN
4,1400000US01001020400,"Census Tract 204, Autauga County, Alabama",47804,19278,NaN,NaN
5,1400000US01001020501,"Census Tract 205.01, Autauga County, Alabama",30313,4359,NaN,NaN
...,...,...,...,...,...,...
85391,1400000US72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345,3664,NaN,NaN
85392,1400000US72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680,1429,NaN,NaN
85393,1400000US72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123,2068,NaN,NaN
85394,1400000US72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622,2124,NaN,NaN
85395,1400000US72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952,2064,NaN,NaN

In [21]:
 # A slight problem is that the GEOID Column is that it is not the same format as the tracts in shapefiles
 # We want to take everything after the "US" part
 
 # create a new function to return the last part of the string
 def extract_after_substring(string, substring):
     # find the index of the substring
     pos = string.find(substring)
     # if substring is not found, the position will be -1 and we will return nothing
     if pos == -1:
         return None
     # otherwise, we will slice the string and return the last part
     return string[pos +len(substring):]

In [22]:
# now we are going to apply the function to the dataframe
df['GEO_ID'] = df['GEO_ID'].apply(lambda x: extract_after_substring(x, 'US'))
df

,GEO_ID,NAME,B19301_001E,B19301_001M,B19301_001MA,B19301_001EA
1,01001020100,"Census Tract 201, Autauga County, Alabama",30934,6503,NaN,NaN
2,01001020200,"Census Tract 202, Autauga County, Alabama",26446,4266,NaN,NaN
3,01001020300,"Census Tract 203, Autauga County, Alabama",25683,3511,NaN,NaN
4,01001020400,"Census Tract 204, Autauga County, Alabama",47804,19278,NaN,NaN
5,01001020501,"Census Tract 205.01, Autauga County, Alabama",30313,4359,NaN,NaN
...,...,...,...,...,...,...
85391,72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345,3664,NaN,NaN
85392,72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680,1429,NaN,NaN
85393,72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123,2068,NaN,NaN
85394,72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622,2124,NaN,NaN
85395,72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952,2064,NaN,NaN

In [23]:
# now we are going to see if a community is disadvantaged
low_income_threshold = 37638 * .8

df['Low_Income'] = df['B19301_001E'] < low_income_threshold
# note we get an error saying that we cannot compare strings and floats
# this is because originally, we had a string in the column so the column is a string type

TypeError: '<' not supported between instances of 'str' and 'float'

In [24]:
# we can see the column types with print(df.dtypes)
print(df.dtypes)

GEO_ID          object
NAME            object
B19301_001E     object
B19301_001M     object
B19301_001MA    object
B19301_001EA    object
dtype: object

In [25]:
# convert the column to a float
df['B19301_001E'] = pd.to_numeric(df['B19301_001E'], errors='coerce')
df

,GEO_ID,NAME,B19301_001E,B19301_001M,B19301_001MA,B19301_001EA
1,01001020100,"Census Tract 201, Autauga County, Alabama",30934.0,6503,NaN,NaN
2,01001020200,"Census Tract 202, Autauga County, Alabama",26446.0,4266,NaN,NaN
3,01001020300,"Census Tract 203, Autauga County, Alabama",25683.0,3511,NaN,NaN
4,01001020400,"Census Tract 204, Autauga County, Alabama",47804.0,19278,NaN,NaN
5,01001020501,"Census Tract 205.01, Autauga County, Alabama",30313.0,4359,NaN,NaN
...,...,...,...,...,...,...
85391,72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345.0,3664,NaN,NaN
85392,72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680.0,1429,NaN,NaN
85393,72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123.0,2068,NaN,NaN
85394,72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622.0,2124,NaN,NaN
85395,72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952.0,2064,NaN,NaN

In [26]:
# now let's check the data types again
print(df.dtypes)

GEO_ID           object
NAME             object
B19301_001E     float64
B19301_001M      object
B19301_001MA     object
B19301_001EA     object
dtype: object

In [27]:
# now we're going to try again, making a new boolean column
df['Low_Income'] = df['B19301_001E'] < low_income_threshold
df

,GEO_ID,NAME,B19301_001E,B19301_001M,B19301_001MA,B19301_001EA,Low_Income
1,01001020100,"Census Tract 201, Autauga County, Alabama",30934.0,6503,NaN,NaN,False
2,01001020200,"Census Tract 202, Autauga County, Alabama",26446.0,4266,NaN,NaN,True
3,01001020300,"Census Tract 203, Autauga County, Alabama",25683.0,3511,NaN,NaN,True
4,01001020400,"Census Tract 204, Autauga County, Alabama",47804.0,19278,NaN,NaN,False
5,01001020501,"Census Tract 205.01, Autauga County, Alabama",30313.0,4359,NaN,NaN,False
...,...,...,...,...,...,...,...
85391,72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345.0,3664,NaN,NaN,True
85392,72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680.0,1429,NaN,NaN,True
85393,72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123.0,2068,NaN,NaN,True
85394,72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622.0,2124,NaN,NaN,True
85395,72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952.0,2064,NaN,NaN,True

In [28]:
# 'B19301_001E' doesn't really mean anything, let's make it a bit more descriptive 
df = df.rename(columns={"B19301_001E": "Per_Capita_Income"})
df

,GEO_ID,NAME,Per_Capita_Income,B19301_001M,B19301_001MA,B19301_001EA,Low_Income
1,01001020100,"Census Tract 201, Autauga County, Alabama",30934.0,6503,NaN,NaN,False
2,01001020200,"Census Tract 202, Autauga County, Alabama",26446.0,4266,NaN,NaN,True
3,01001020300,"Census Tract 203, Autauga County, Alabama",25683.0,3511,NaN,NaN,True
4,01001020400,"Census Tract 204, Autauga County, Alabama",47804.0,19278,NaN,NaN,False
5,01001020501,"Census Tract 205.01, Autauga County, Alabama",30313.0,4359,NaN,NaN,False
...,...,...,...,...,...,...,...
85391,72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto ...",12345.0,3664,NaN,NaN,True
85392,72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto ...",10680.0,1429,NaN,NaN,True
85393,72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto ...",10123.0,2068,NaN,NaN,True
85394,72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto ...",11622.0,2124,NaN,NaN,True
85395,72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto ...",7952.0,2064,NaN,NaN,True

In [29]:
df.to_csv(r'C:\Users\g6pmaaec\Documents\Coding\github\python-for-planning\day-4\ACSDT5Y2021_B19301-Data_Output.csv')